
@{
    ViewBag.Title = "Index";
}


<body style="background-color:honeydew">
    <div class="content-wrapper">

        <center>

            <h1><center>Welcome to Online Shopping</center></h1>

            <img src="~/Images/R.jpg" height="500px"/>

        </center>
       


    </div>
</body>



